[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=fill_contiguous
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=fill_contiguous
